.beer {
    max-width: 400px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 15px;
    padding: 20px;

    border-radius: 32px;
    background: #f0f0f0;
    box-shadow:  8px 8px 16px #d8d8d8,
             -8px -8px 16px #ffffff;
}

@media screen and (max-width: 710px) {
    .beer {
        
        width: 100%;
    }
}

/* @media screen and (max-width: 450px) {
    .beer {
        width: 380px;
    }
}

@media screen and (max-width: 320px) {
    .beer {
        width: 300px;
    }
} */

.reverse {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;
    padding-top: 3rem;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    background: white;
    /* background: #f8f8f8; */
    overflow: hidden;
    cursor: pointer;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: opacity 300ms ease-in-out;
}

.active {
    opacity: 0.9;
    box-shadow: inset 8px 8px 16px #d8d8d8,
                inset -8px -8px 16px #ffffff;
}

.shadow {
    box-shadow: none;
    
}

.description {
    height: 70%;
    overflow: auto;
}

.description span {
  
    font-family: var(--ff-second);
    display: block;
}

.reverse h6 {
    font-family: var(--ff-second);
    margin-bottom: 1rem;
}

.description p {
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.4rem;
}

.beer img {
    order: -1;
    height: 300px;
    margin-bottom: 1rem;
    object-fit: contain;


}

.beer h4 {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    z-index: 5;
    display: inline-block;
    width: 100%;
    margin: 1rem;
    
}

.beer h4::after {
    content: '';
    background-color: black;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -8px;
    left: 0;
    z-index: 0;
}

.beer h6 {
    font-size: 1rem;
}

.abv, .ibu {
    font-weight: 600;
    font-style: italic;
    z-index: 5;
    
}

.abv {
    position: absolute;
    top: 20px;
    left: 24px;
}

.ibu {
    position: absolute;
    top: 20px;
    right: 24px;
}