.beerCard {
    max-width: 400px;
    height: 500px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    border-radius: 32px;
    background: #f0f0f0;
    box-shadow:  8px 8px 16px #d8d8d8,
             -8px -8px 16px #ffffff;

}

@media screen and (max-width: 710px) {
    .beerCard {
        width: 100%;
        margin-bottom: 2rem;
    }
}

.reverse {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;
    padding-top: 3rem;
    border-radius: 32px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    overflow: hidden;
    cursor: pointer;
    
    background: #fafafa;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.active {
    opacity: 0.9;
    box-shadow: inset 8px 8px 16px rgba(238, 130, 238, 0.30),
                inset -8px -8px 16px rgba(238, 130, 238, 0.30);
}

.shadow {
    box-shadow: none;
}

.description {
    height: 70%;
    overflow: hidden;
}

.scroll {
    overflow: auto;
}

.description span {
    display: block;
    font-family: var(--ff-second);
}

.description p {
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.4rem;
}

.reverse h6 {
    margin-bottom: 1rem;
    font-family: var(--ff-second);
}

.beerCard img {
    order: -1;
    height: 300px;
    margin-bottom: 1rem;
    object-fit: contain;
}

.beerCard h4 {
    width: 100%;
    margin: 1rem;
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    z-index: 5;
    background-color: #fafafacb;
}

.beerCard h4::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -8px;
    left: 0;
    background-color: black;
    z-index: 0;
}

.beerCard h6 {
    font-size: 1rem;
}

.abv, .ibu {
    position: absolute;
    top: 20px;
    font-style: italic;
    font-weight: 600;
    z-index: 5;
}

.abv {
    left: 24px;
}

.ibu {
    right: 24px;
}