.container {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter { 
    width: 350px;
    margin: 20px; 
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 16px;
    background-color: #f0f0f0;
    box-shadow:  8px 8px 8px #d8d8d8,
                -8px -8px 8px #ffffff;
    
    font-size: 2rem;
}

.filter__label {
    width: 100px;
    padding: 1rem;
    font-family: var(--ff-second);
}

.filter__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.pages {
    width: fit-content;
    display: flex;
    align-items: center;
}

.pages__text {
    width: fit-content;
    margin: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
}


.page__btn {
    margin: 0 10px 0 10px;
    padding: 1rem;
    outline: none;
    border: none;
    background: #f0f0f0;
    border-radius: 16px;
    box-shadow:  8px 8px 8px #d8d8d8,
                 -8px -8px 8px #ffffff;
    
    font-family: var(--ff-second);
    font-size: 1.5rem;
    transition:  300ms ease;
}

@media screen and (max-width: 400px) {
    .filter {
        width: 280px;
        font-size: 1.5rem;
    }

    .pages__text {
        font-size: 1rem;
        width: auto;
    }

    .page__btn {
        padding: 0.75rem;
    }
}
