

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



/* Main font Roboto thin, Roboto light italic
font-family: 'Roboto', sans-serif;
Secondary font Space G medium
font-family: 'Space Grotesk', sans-serif;  */